sone_voice21_v1/Node-RED/stone21_flows.json
[{"id":"e272c8b9.eecd38","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"6e3fe26.33b231c","type":"udp in","z":"e272c8b9.eecd38","name":"","iface":"","port":"8000","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":140,"y":40,"wires":[["bff6646a.bb9578"]]},{"id":"8c281afa.03ae38","type":"debug","z":"e272c8b9.eecd38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"bff6646a.bb9578","type":"osc","z":"e272c8b9.eecd38","name":"","path":"","metadata":false,"x":290,"y":40,"wires":[["8c281afa.03ae38"]]},{"id":"d4e951ce.9983e","type":"serial in","z":"e272c8b9.eecd38","name":"","serial":"4dab4cb2.6888a4","x":100,"y":300,"wires":[["61bf5b5d.fe2894","8c4ba10a.7c051"]]},{"id":"1bf99ee2.b14451","type":"switch","z":"e272c8b9.eecd38","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":530,"y":300,"wires":[["fde05f0f.4f6eb"],["2e72c565.2cab7a"],["386429d8.b550c6"],["3dcf0dbc.527692"],["46ef75e2.cf420c"],["79b71c9f.b0e6f4"],["e7512041.b0538"],["d60e9d23.f447f"],["8d5a9ea4.d2def"],["bee2b0a3.661e2"],["f51172f3.12c22"],["d8b1b0fa.90a23"],["fd567a9b.9c9d68"]]},{"id":"61bf5b5d.fe2894","type":"split","z":"e272c8b9.eecd38","name":"","splt":",","spltType":"str","arraySplt":"13","arraySpltType":"len","stream":false,"addname":"topic","x":270,"y":300,"wires":[["1bf99ee2.b14451","6d7460a1.fedef"]]},{"id":"fde05f0f.4f6eb","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":80,"wires":[["c4ffe467.309918"]]},{"id":"2e72c565.2cab7a","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":120,"wires":[["f3506b36.c8f0b8"]]},{"id":"386429d8.b550c6","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":160,"wires":[["1357345b.9824fc"]]},{"id":"27cc5a64.8daf46","type":"comment","z":"e272c8b9.eecd38","name":"シリアル通信","info":"","x":110,"y":260,"wires":[]},{"id":"6a5f8aec.858d74","type":"comment","z":"e272c8b9.eecd38","name":"ノイズフィルタ","info":"","x":740,"y":40,"wires":[]},{"id":"3f49a9d.cae4e56","type":"comment","z":"e272c8b9.eecd38","name":"コンマ区切りデータを分ける","info":"","x":340,"y":260,"wires":[]},{"id":"fa49c527.cb7938","type":"comment","z":"e272c8b9.eecd38","name":"ダッシュボードに表示","info":"","x":940,"y":40,"wires":[]},{"id":"c664407f.ec62","type":"osc","z":"e272c8b9.eecd38","name":"/touch","path":"/touch","metadata":false,"x":750,"y":740,"wires":[["30aace19.ddfff2"]]},{"id":"30aace19.ddfff2","type":"udp out","z":"e272c8b9.eecd38","name":"","addr":"localhost","iface":"","port":"4000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":910,"y":740,"wires":[]},{"id":"d6899f8.3f7156","type":"debug","z":"e272c8b9.eecd38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":820,"wires":[]},{"id":"6d7460a1.fedef","type":"range","z":"e272c8b9.eecd38","minin":"0","maxin":"5000","minout":"0","maxout":"5000","action":"clamp","round":true,"property":"payload","name":"","x":160,"y":740,"wires":[["2b9c7c9.4e76984"]]},{"id":"358d0c7.84da2f4","type":"comment","z":"e272c8b9.eecd38","name":"数値の範囲調整","info":"","x":160,"y":700,"wires":[]},{"id":"e0a1b11d.39cb2","type":"comment","z":"e272c8b9.eecd38","name":"配列に変換する","info":"","x":600,"y":700,"wires":[]},{"id":"ef0b4e19.f5b0b","type":"comment","z":"e272c8b9.eecd38","name":"デバッグ","info":"","x":760,"y":780,"wires":[]},{"id":"e644c3d3.f631b","type":"comment","z":"e272c8b9.eecd38","name":"UDP","info":"","x":950,"y":680,"wires":[]},{"id":"8c4ba10a.7c051","type":"debug","z":"e272c8b9.eecd38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":420,"wires":[]},{"id":"9a43cfe0.feec6","type":"comment","z":"e272c8b9.eecd38","name":"デバイスからのデータ確認","info":"","x":330,"y":380,"wires":[]},{"id":"2bbe1e7c.413942","type":"csv","z":"e272c8b9.eecd38","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":450,"y":740,"wires":[["cd2f32f9.d847f","d4f63afa.a1e268"]]},{"id":"cd2f32f9.d847f","type":"function","z":"e272c8b9.eecd38","name":"","func":"let temp = {\n    \"payload\" : \n    [\n        msg.payload.col1, \n        msg.payload.col2,\n        msg.payload.col3,\n        msg.payload.col4,\n        msg.payload.col5,\n        msg.payload.col6,\n        msg.payload.col7,\n        msg.payload.col8,\n        msg.payload.col9,\n        msg.payload.col10,\n        msg.payload.col11,\n        msg.payload.col12,\n        msg.payload.col13,\n        ]\n}\nmsg=temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":740,"wires":[["d6899f8.3f7156","c664407f.ec62"]]},{"id":"2b9c7c9.4e76984","type":"join","z":"e272c8b9.eecd38","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":310,"y":740,"wires":[["2bbe1e7c.413942"]]},{"id":"5ff0f721.6cdab8","type":"comment","z":"e272c8b9.eecd38","name":"統合する","info":"","x":320,"y":700,"wires":[]},{"id":"8abe6bb0.642d78","type":"comment","z":"e272c8b9.eecd38","name":"CSVに変換","info":"","x":460,"y":700,"wires":[]},{"id":"237369ed.57cc56","type":"comment","z":"e272c8b9.eecd38","name":"OSCメッセージ作成","info":"","x":790,"y":680,"wires":[]},{"id":"d4f63afa.a1e268","type":"debug","z":"e272c8b9.eecd38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":840,"wires":[]},{"id":"c4ffe467.309918","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"0","tooltip":"","group":"9490545f.7dedc8","order":1,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":80,"wires":[[]]},{"id":"f3506b36.c8f0b8","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"1","tooltip":"","group":"9490545f.7dedc8","order":3,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":120,"wires":[[]]},{"id":"1357345b.9824fc","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"2","tooltip":"","group":"9490545f.7dedc8","order":5,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":160,"wires":[[]]},{"id":"3dcf0dbc.527692","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":200,"wires":[["8a2b3b49.dc0098"]]},{"id":"8a2b3b49.dc0098","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"3","tooltip":"","group":"9490545f.7dedc8","order":7,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":200,"wires":[[]]},{"id":"46ef75e2.cf420c","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":240,"wires":[["70cd3d78.a15e04"]]},{"id":"70cd3d78.a15e04","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"4","tooltip":"","group":"9490545f.7dedc8","order":9,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":240,"wires":[[]]},{"id":"79b71c9f.b0e6f4","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":280,"wires":[["be2d8d6e.f122c"]]},{"id":"be2d8d6e.f122c","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"5","tooltip":"","group":"9490545f.7dedc8","order":11,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":280,"wires":[[]]},{"id":"e7512041.b0538","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":320,"wires":[["a0bab5f3.ebadf8"]]},{"id":"a0bab5f3.ebadf8","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"6","tooltip":"","group":"9490545f.7dedc8","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":320,"wires":[[]]},{"id":"d60e9d23.f447f","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":360,"wires":[["9647100.97620f"]]},{"id":"9647100.97620f","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"7","tooltip":"","group":"9490545f.7dedc8","order":4,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":360,"wires":[[]]},{"id":"8d5a9ea4.d2def","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":400,"wires":[["622ad9cc.c6c078"]]},{"id":"622ad9cc.c6c078","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"8","tooltip":"","group":"9490545f.7dedc8","order":6,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":400,"wires":[[]]},{"id":"bee2b0a3.661e2","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":440,"wires":[["32706dde.3e6582"]]},{"id":"32706dde.3e6582","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"9","tooltip":"","group":"9490545f.7dedc8","order":8,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":440,"wires":[[]]},{"id":"f51172f3.12c22","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":480,"wires":[["50943930.99f6d8"]]},{"id":"50943930.99f6d8","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"10","tooltip":"","group":"9490545f.7dedc8","order":10,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":480,"wires":[[]]},{"id":"d8b1b0fa.90a23","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":520,"wires":[["682b6bc0.b520f4"]]},{"id":"682b6bc0.b520f4","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"11","tooltip":"","group":"9490545f.7dedc8","order":12,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":520,"wires":[[]]},{"id":"fd567a9b.9c9d68","type":"smooth","z":"e272c8b9.eecd38","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":560,"wires":[["7d9a7dd2.50b194"]]},{"id":"7d9a7dd2.50b194","type":"ui_slider","z":"e272c8b9.eecd38","name":"","label":"12","tooltip":"","group":"9490545f.7dedc8","order":14,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":560,"wires":[[]]},{"id":"cd9758d7.7f6938","type":"inject","z":"e272c8b9.eecd38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"1","payloadType":"num","x":130,"y":100,"wires":[["e0778d0b.8f2dc","25eb462f.8ebeaa"]]},{"id":"e0778d0b.8f2dc","type":"debug","z":"e272c8b9.eecd38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":100,"wires":[]},{"id":"2cf62450.ac4a4c","type":"udp out","z":"e272c8b9.eecd38","name":"","addr":"localhost","iface":"","port":"12345","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":480,"y":140,"wires":[]},{"id":"25eb462f.8ebeaa","type":"osc","z":"e272c8b9.eecd38","name":"/start","path":"/start","metadata":false,"x":290,"y":140,"wires":[["2cf62450.ac4a4c"]]},{"id":"4dab4cb2.6888a4","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9490545f.7dedc8","type":"ui_group","name":"Default","tab":"5468db9.f6ad424","order":1,"disp":true,"width":12,"collapse":false},{"id":"5468db9.f6ad424","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":true}]