stone_voice21_v0/Node-RED/flows.json
[{"id":"f6cf8531.819138","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"4dab4cb2.6888a4","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9490545f.7dedc8","type":"ui_group","name":"Default","tab":"5468db9.f6ad424","order":1,"disp":true,"width":12,"collapse":false},{"id":"5468db9.f6ad424","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":true},{"id":"292cfd52.8146c2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ea404548b413895","type":"ui_spacer","z":"f6cf8531.819138","name":"spacer","group":"9490545f.7dedc8","order":13,"width":6,"height":1},{"id":"6d29ab4f.4e1714","type":"udp in","z":"f6cf8531.819138","name":"","iface":"","port":"8000","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":140,"y":40,"wires":[["d614800b.77758"]]},{"id":"63b75ae6.0d1074","type":"debug","z":"f6cf8531.819138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"d614800b.77758","type":"osc","z":"f6cf8531.819138","name":"","path":"","metadata":false,"x":290,"y":40,"wires":[["63b75ae6.0d1074"]]},{"id":"7d124ae3.ffaaa4","type":"serial in","z":"f6cf8531.819138","name":"","serial":"4dab4cb2.6888a4","x":100,"y":300,"wires":[["96a3cada.5bcd38","8a8ca0b6.bcbae"]]},{"id":"8748c5b2.4b8ac8","type":"switch","z":"f6cf8531.819138","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":530,"y":300,"wires":[["6f966231.92d74c"],["9a67d7aa.77dec8"],["44593164.0da31"],["1ee5423d.75eaee"],["3dc7a3e4.b15eac"],["238c30d3.981eb"],["fa160d85.a1ed3"],["21ea343.51e85cc"],["9be2eff5.0175"],["11bba0ee.703c1f"],["cd342fc4.7ad4e"],["b004ba02.147318"],["b3acb8e1.331568"]]},{"id":"96a3cada.5bcd38","type":"split","z":"f6cf8531.819138","name":"","splt":",","spltType":"str","arraySplt":"13","arraySpltType":"len","stream":false,"addname":"topic","x":270,"y":300,"wires":[["8748c5b2.4b8ac8","7ad812db.0d5b4c"]]},{"id":"6f966231.92d74c","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":80,"wires":[["188a8e9c.1438a1"]]},{"id":"9a67d7aa.77dec8","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":120,"wires":[["f88775be.7c68a8"]]},{"id":"44593164.0da31","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":160,"wires":[["e0b1dec.161cc2"]]},{"id":"71df0360.51362c","type":"comment","z":"f6cf8531.819138","name":"シリアル通信","info":"","x":110,"y":260,"wires":[]},{"id":"50df44cb.61f90c","type":"comment","z":"f6cf8531.819138","name":"ノイズフィルタ","info":"","x":740,"y":40,"wires":[]},{"id":"9866d973.34b608","type":"comment","z":"f6cf8531.819138","name":"コンマ区切りデータを分ける","info":"","x":340,"y":260,"wires":[]},{"id":"c0fbb010.c397f","type":"comment","z":"f6cf8531.819138","name":"ダッシュボードに表示","info":"","x":940,"y":40,"wires":[]},{"id":"9d9d338a.634ff","type":"osc","z":"f6cf8531.819138","name":"/touch","path":"/touch","metadata":false,"x":750,"y":740,"wires":[["964f7796.bd65b8"]]},{"id":"964f7796.bd65b8","type":"udp out","z":"f6cf8531.819138","name":"","addr":"localhost","iface":"","port":"4000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":910,"y":740,"wires":[]},{"id":"81d37714.809a08","type":"debug","z":"f6cf8531.819138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":820,"wires":[]},{"id":"7ad812db.0d5b4c","type":"range","z":"f6cf8531.819138","minin":"0","maxin":"1","minout":"0","maxout":"1","action":"scale","round":true,"property":"payload","name":"","x":150,"y":740,"wires":[["392922fa.4a958e"]]},{"id":"f350e010.c49fa","type":"comment","z":"f6cf8531.819138","name":"数値の範囲調整","info":"","x":160,"y":700,"wires":[]},{"id":"3e10476f.f3d268","type":"comment","z":"f6cf8531.819138","name":"配列に変換する","info":"","x":600,"y":700,"wires":[]},{"id":"23f27f9d.da01f","type":"comment","z":"f6cf8531.819138","name":"デバッグ","info":"","x":760,"y":780,"wires":[]},{"id":"f25d1404.74f218","type":"comment","z":"f6cf8531.819138","name":"UDP","info":"","x":950,"y":680,"wires":[]},{"id":"8a8ca0b6.bcbae","type":"debug","z":"f6cf8531.819138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":420,"wires":[]},{"id":"28dbe6a0.ec00ca","type":"comment","z":"f6cf8531.819138","name":"デバイスからのデータ確認","info":"","x":330,"y":380,"wires":[]},{"id":"60b26b86.6a46f4","type":"csv","z":"f6cf8531.819138","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":450,"y":740,"wires":[["255ab4db.40e0ec","8d3e8dd7.189a9"]]},{"id":"255ab4db.40e0ec","type":"function","z":"f6cf8531.819138","name":"","func":"let temp = {\n    \"payload\" : \n    [\n        msg.payload.col1, \n        msg.payload.col2,\n        msg.payload.col3,\n        msg.payload.col4,\n        msg.payload.col5,\n        msg.payload.col6,\n        msg.payload.col7,\n        msg.payload.col8,\n        msg.payload.col9,\n        msg.payload.col10,\n        msg.payload.col11,\n        msg.payload.col12,\n        msg.payload.col13,\n        ]\n}\nmsg=temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":740,"wires":[["81d37714.809a08","9d9d338a.634ff"]]},{"id":"392922fa.4a958e","type":"join","z":"f6cf8531.819138","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":310,"y":740,"wires":[["60b26b86.6a46f4"]]},{"id":"f1813bdb.f3c658","type":"comment","z":"f6cf8531.819138","name":"統合する","info":"","x":320,"y":700,"wires":[]},{"id":"21641e68.28bc72","type":"comment","z":"f6cf8531.819138","name":"CSVに変換","info":"","x":460,"y":700,"wires":[]},{"id":"47084c01.8ac234","type":"comment","z":"f6cf8531.819138","name":"OSCメッセージ作成","info":"","x":790,"y":680,"wires":[]},{"id":"8d3e8dd7.189a9","type":"debug","z":"f6cf8531.819138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":840,"wires":[]},{"id":"188a8e9c.1438a1","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"0","tooltip":"","group":"9490545f.7dedc8","order":1,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":80,"wires":[[]]},{"id":"f88775be.7c68a8","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"1","tooltip":"","group":"9490545f.7dedc8","order":3,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":120,"wires":[[]]},{"id":"e0b1dec.161cc2","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"2","tooltip":"","group":"9490545f.7dedc8","order":5,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":160,"wires":[[]]},{"id":"1ee5423d.75eaee","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":200,"wires":[["d2d514d8.a48258"]]},{"id":"d2d514d8.a48258","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"3","tooltip":"","group":"9490545f.7dedc8","order":7,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":200,"wires":[[]]},{"id":"3dc7a3e4.b15eac","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":240,"wires":[["77166330.9230ac"]]},{"id":"77166330.9230ac","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"4","tooltip":"","group":"9490545f.7dedc8","order":9,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":240,"wires":[[]]},{"id":"238c30d3.981eb","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":280,"wires":[["1b5420a0.815e4f"]]},{"id":"1b5420a0.815e4f","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"5","tooltip":"","group":"9490545f.7dedc8","order":11,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":280,"wires":[[]]},{"id":"fa160d85.a1ed3","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":320,"wires":[["3fca5c6.79f3da4"]]},{"id":"3fca5c6.79f3da4","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"6","tooltip":"","group":"9490545f.7dedc8","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":320,"wires":[[]]},{"id":"21ea343.51e85cc","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":360,"wires":[["63b2d783.652f58"]]},{"id":"63b2d783.652f58","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"7","tooltip":"","group":"9490545f.7dedc8","order":4,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":360,"wires":[[]]},{"id":"9be2eff5.0175","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":400,"wires":[["5b595d46.b6d914"]]},{"id":"5b595d46.b6d914","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"8","tooltip":"","group":"9490545f.7dedc8","order":6,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":400,"wires":[[]]},{"id":"11bba0ee.703c1f","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":440,"wires":[["3eab9c27.259454"]]},{"id":"3eab9c27.259454","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"9","tooltip":"","group":"9490545f.7dedc8","order":8,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":440,"wires":[[]]},{"id":"cd342fc4.7ad4e","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":480,"wires":[["692ad336.01077c"]]},{"id":"692ad336.01077c","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"10","tooltip":"","group":"9490545f.7dedc8","order":10,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":480,"wires":[[]]},{"id":"b004ba02.147318","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":520,"wires":[["925ab044.4ad95"]]},{"id":"925ab044.4ad95","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"11","tooltip":"","group":"9490545f.7dedc8","order":12,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":520,"wires":[[]]},{"id":"b3acb8e1.331568","type":"smooth","z":"f6cf8531.819138","name":"","property":"payload","action":"mean","count":"2","round":"","mult":"single","reduce":false,"x":740,"y":560,"wires":[["120c1045.4aa85"]]},{"id":"120c1045.4aa85","type":"ui_slider","z":"f6cf8531.819138","name":"","label":"12","tooltip":"","group":"9490545f.7dedc8","order":14,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"15000","step":1,"x":910,"y":560,"wires":[[]]}]